<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	      rel="stylesheet">
	
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
	
	<script src="./scripts/home.js" defer></script>
	<script src="./scripts/loadHeader.js" defer></script>
	<script src="./scripts/loadFooter.js" defer></script>
	
	
	<title>Lando</title>
	<link rel="stylesheet" href="./styles/header.css">
	<link rel="stylesheet" href="./styles/footer.css">
	<link rel="stylesheet" href="./styles/home.css">

	<link rel="icon" href="./images/icon-blue.png" type="image/x-icon">
</head>
<body>
<header id="header-container"></header>
<main>
	<section class="section-1">
		<img src="./images/home-img-1.png" alt="home-img-1" loading="lazy">
		<div class="section-1-rc">
			<h3>- fre 30 days trial</h3>
			<h1>The best way
				to showcase
				your project.</h1>
			<p>Here you can put a short description about your project.</p>
			<div class="buttons">
				<button class="btn">Try for free</button>
				<button class="btn-not-background">See how it works</button>
			</div>
		</div>
	</section>
	<section class="section-2">
		<div class="section-2-title">
			<h2>Trusted by individuals and teams at the world's best companies</h2>
			<div>
				<p>Logo</p>
				<p>Logo</p>
				<p>Logo</p>
			</div>
		</div>
		<div class="card-sec-2">
			<img src="./images/home-img-2.png" alt="home-img-2" loading="lazy">
			<div class="text">
				<h1>Introducing a
					good solution</h1>
				<p>Join our community and experience the benefits today!</p>
				<button class="btn">Try for free</button>
			</div>
			<div class="bottom"></div>
		</div>
	</section>
	
	<section class="section-smartsave">
		<div class="smartsave-title">
			<h3>SMARTSAVE</h3>
			<div>
				<h2>All your work is safe with us</h2>
				<p>We take your data security seriously, which is why we use advanced encryption protocols to protect
					your files in the cloud. Your data is safe and secure with us.</p>
			</div>
			<button class="btn-not-background">Try now</button>
		</div>
		<img src="./images/home-img-3.png" alt="home-img-3" loading="lazy">
	</section>
	<section class="section-costsaver">
		<div class="smartsave-title">
			<h3>COSTSAVER</h3>
			<div>
				<h2>Cost saving in a smart way</h2>
				<p>Powerful tool that helps you reduce costs and save money on your business operations. With advanced
					analytics and optimization algorithms, Costsaver analyzes your existing workflows and identifies
					areas for improvement.</p>
			</div>
			<button class="btn-not-background">Try now</button>
		</div>
		<img src="./images/image.png" alt="home-img-3" loading="lazy">
	</section>
	<section class="section-5">
		<div class="sec-5-title">
			<img src="./images/home-img-4.png" alt="home-img-4" loading="lazy">
			<h1>How to join our community</h1>
			<p>Just 3 simple steps to optimize your company operations.</p>
		</div>
		<ul>
			<li>
				<h2>Step 1</h2>
				<p>Reach out to one of our specialists, and have short introduction session.</p>
			</li>
			<li>
				<h2>Step 2</h2>
				<p>Our specialist will prepare personalized package suitable for your needs.</p>
			</li>
			<li>
				<h2>Step 3</h2>
				<p>Poof! You are ready to work smart with optimized operations.</p>
			</li>
		</ul>
		<button class="btn">Sign up now</button>
		<div class="bottom"></div>
	</section>
	<section class="section-testimonials">
		<h1>Testimonials</h1>
		<p>People love what we do and we want to let your know</p>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<h2>"Since implementing Lando our business has seen significant growth."</h2>
					<ul>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
					</ul>
					<h3>Jack Sibire</h3>
					<p>Lead Manager, Growio</p>
				</div>
				<div class="swiper-slide">
					<h2>"I recommend Lando to
						any business looking for improvement."</h2>
					<ul>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
					</ul>
					<h3>Adele Mouse</h3>
					<p>Product Manager, Mousio</p>
				</div>
				<div class="swiper-slide">
					<h2>"I can't imagine running our company without it."</h2>
					<ul>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
						<li>
							<svg width="16" height="16">
								<use xlink:href="./svg/sprite.svg#star"/>
							</svg>
						</li>
					</ul>
					<h3>Ben Clock</h3>
					<p>CTO, Clockwork</p>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
	
	<section class="sec-get-started">
		<div class="card-sec-2">
			<img src="./images/home-img-3.png" alt="home-img-3" loading="lazy">
			<div class="text">
				<h1>Get started with Lando today</h1>
				<p>Start optimizing your processes today.</p>
				<button class="btn">Sign up now</button>
			</div>
		</div>
	</section>
</main>
</body>
</html>